ion-col {
    border: solid 5px #fff;
    text-align: auto;

  }

#pedro{
text-align:left;
}
#zero{
  float: right;
  text-align: right;
  right: 30%;
}
#zero2{
  float: right;
  text-align: right;
  right: 13%;


}
#zero3{

 float: right;
  text-align: right;
  left: 30%;
}
